<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Frontend/css/style.css">
    <title>Register</title>
</head>
<body>
    <section class="register_1">
        <div class="show_section_top">
            <a href="#" class="logo">BLOCKBUSTER ROOM 1000</a>
            <a href="/Frontend/templates/sign_in.html" class="sign_up">Sign in</a>
        </div>
        
        <div class="content">
            <h1>Ready to have an account? <br><p><span>Register with us today</span></p></h1>
            <p class="par"><span class="dot"></span>Enter your details<br><span class="dot"></span>Add your card <br><span class="dot"></span>Enjoy!!!</p>
    
        
            <form>
                <div class="form-2 tweak-3">
                    <h2>Register</h2>
                    <input type="text" name="first_name" placeholder="Enter First Name Here">
                    <input type="text" name="last_name" placeholder="Enter Last Name Here">
                    <input type="text" name="Username" placeholder="Enter Username Here">
                    <input type="text" name="Phone_number" placeholder="Enter Number Here">
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="password" placeholder="Enter password Here">
                    <input type="password" name="password2" placeholder="Enter Password Again">
                    <input type="submit"  value="Proceed To Payment" class="btnn">

                </div>
            </form>
            
        </div> 
    </section>
</body>
</html>