<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css style -->
    <link rel="stylesheet" href="/Frontend/css/style.css">
    <title>Sign in</title>
</head>
<body>
    <header class="show_section_2">
        <div class="show_section_top">
            <a href="#" class="logo">BLOCKBUSTER ROOM 1000</a>
        </div>

        <div class="content">
            <h1>Don't have an account with us? <br><span>Get one in 3 easy steps </span></h1>
            <p class="par"><span class="dot"></span> Click on register<br><span class="dot"></span> Select a payment plan that suites you<br><span class="dot"></span>  Add your payment method <br><span class="dot"></span> Enjoy!!!</p>
    
            <button class="cn"><a href="#">REGISTER</a></button>
            <form>
                <div class="form-2 tweak-2">
                    <h2>Sign in</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="password" placeholder="Enter password Here">
                    <input type="submit" value="Sign in" class="btnn">
                </div>
            </form>
            
        </div>
    </header>
</body>
</html>